<!DOCTYPE HTML>
<html    xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<table >
    <thead>
    <tr>
        <th>Nr. crt.</th>
        <th>Felul si nr.post</th>
        <th>Facultatea</th>
        <th>Disciplina</th>
        <th>Curs</th>
        <th>Aplicatii</th>
        <th>An/Gr</th>
        <th>Data</th>
        <th>Orele</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="p : ${plata}">
            <td th:text="${p.I}">Nr.crt.</td>
            <td th:text="${p.fel}">Felul si nr.post</td>
            <td th:text="${p.facultate}">Facultatea</td>
            <td th:text="${p.disciplina}">Disciplina</td>
            <td th:text="${p.curs}">Curs</td>
            <td th:text="${p.aplicatii}">Aplicatii</td>
            <td th:text="${p.an_gr}">An/Gr</td>
            <td th:text="${p.data}">Data</td>
            <td th:text="${p.ora}">Sala</td>
        </tr>
    </tbody>
</table>

</html>