<!DOCTYPE HTML>
<html    xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Awesome WebApp, Totally NOT a FaKe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>
    Orare
</h1>

<form method="POST" action="/timetable" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" name="fileUpload" value="Upload" />
</form>

<a href="/toDownloadFile/test_file.txt" download="orar">
   <button type="button">Click Me!</button>
</a>


<h3> Arata Orare </h3>
<form th:action="@{/timetable}" method="post" >
 <input type="submit" name ="ALL"  value="Arata Toate Orarele"/>
</form>


<h3> Cauta dupa Profesor</h3>
<form th:action="@{/timetable}" method="post" >
    <div class="form-group blu-margin">
    <select class="form-control"  name="dropOperator">
    
    <option  th:each="teacher : ${teacher_list}" th:value="${teacher.name}" th:text="${teacher.name}"></option>
    </select>
    </div>
    
    <input type="submit" name ="searchTeacher"  value="Cauta"/>
</form>


<h3> Cauta Dupa</h3>
<form th:action="@{/timetable}" method="post" >
    Criteriu:
    <select name="dropdown">
        <option value="materie">Materie</option>
        <option value="prescurtare">Prescurtare Materie</option>
        <option value="profesor">Profesor</option>
        <option value="sala">Sala</option>
        <option value="zi">Zi</option>
    </select>
    Cauta: <input type="text" name="inputValue"/>
    <input type="submit" name ="update"  value="Arata"/>
</form>




<h3> Rezultat </h3>
<table >
    <thead>
    <tr>
        <th>Profesor</th>
        <th>Prescurtare</th>
        <th>Materie</th>
        <th>Serie</th>
        <th>Zi</th>
        <th>Start</th>
        <th>Final</th>
        <th>Sala</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="LOrar : ${time_table_list}">
            <td th:text="${LOrar.cadruDidactic}">Profesor</td>
            <td th:text="${LOrar.prescurtareMaterie}">Prescurtare</td>
            <td th:text="${LOrar.materie}">Materie</td>
            <td th:text="${LOrar.serie}">Serie</td>
            <td th:text="${LOrar.zi}">Zi</td>
            <td th:text="${LOrar.OraStart}">Ora incepere</td>
            <td th:text="${LOrar.OraFinal}">Ora terminare</td>
            <td th:text="${LOrar.sala}">Sala</td>
        </tr>
    </tbody>
</table>

</html>