table{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-collapse: collapse;

}
td, th {

    border-right: 1px solid black;
    text-align: center;
}
.tr_culoare0
{
    background-color: #ffffff;
}
.tr_culoare1
{
    background-color: #ccc;
}
.box_mijloc
{
    width:800px;
    margin:0 auto;
    color : #000;
    background: #f1f1f1;
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;;

}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 25px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.titluL{
    font-size: 25px;
    text-align: center;
}
.pozi{
    margin-left: 38%;
    padding-bottom: 25px;
}
.inputText{
    width: 215px;

}
.left_box{
 padding-left: 25px;
    max-width: 30%;
}
.right_box{
    padding: 0px 25px;
    max-width: 70%;
}
.box_tot{
    display: flex;
}
.font-afisaj
{
    font-size: 20px;
    text-align: center;

}
.cadru{
    padding: 25px;
}
.incapoi_buton{
    font-size: 25px;
    font-weight: bold;

}
.cuvant_alineat{
    padding-right: 50px;
}